html {
  height: 100%;  
}

body {
  height: 100%;
  margin: 10px;
  /* border: 1px solid blue; */
}
.main-container {
  border: 1px solid magenta;
  margin: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

  .graph-container {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid green;
    margin: 20px;
    text-align: center;
    height: 800px; */
    background-color: #fff; 
    margin: 10px;
    flex: 40;
    /* align-self: flex-start; */
    border: 1px solid green;
    display: flex;
    flex-direction: column;
  }
    .graph-svg {
      margin-left: auto;
      margin-right: auto; 
      width: 100%; 
      flex: 1;
    }

  

  .footer-container {
    align-self: flex-end;
    flex: 1;
    margin: 10px;
    width: 100%;
    position: relative;
  }
  .footer-top {
    margin: 10px;
    border: 1px solid white;
    background: rgb(150, 150, 220);
    fill-opacity: 50%;
    opacity: .5;
    z-index: 1; 
    position: absolute;
    width: 100%;
    height: 900%;
    bottom: 500%;
  }
  .footer-bottom {
    /* height: 100%; */
    margin: 10px;
    border: 1px solid red;
    background: rgb(219, 219, 237);
    fill-opacity: 50%;
    opacity: .5;
    z-index: 1; 
    bottom: 0;
    position: absolute; 
    width: 100%;
    height: 500%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  

  .main-slider-container {
    flex: 1;
    /* margin-top: 10px; */
  }
  
  .main-slider {
    width: 100% !important;
    margin-right: 100px;
    margin-left: 10px;
    /* left: -50%; */
  }

  .noUi-marker {
    background: black !important;
  }

  .footer-player-container {

  }

  

  .timeline-button {
    font-size: 250%;
    /* margin-right: 10px; */
    /* margin-top: 10px; */
    
  }

  .active-simulation-handle {
    background-color: red;
  }


#contextMenu {
  position: absolute;
  display:none;
}

.modal
{
    overflow: hidden;
}
.modal-body
{
  height: 500px;
}


.modal-dialog{
    margin-right: 0;
    margin-left: 0;
    z-index:     2000;
    position: absolute;
}

.slider-selection {
	background: #BABABA;
}



svg {
  background-color: #9bcaee
}

.link{
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 8px;
}


.node {
  stroke: #999;
  stroke-width: 2.5px;
}

.inactive-node {
  stroke: #999;
  fill: #1eb5ab20;
  stroke-width: 2.5px;
}

.selected-node {
  stroke: rgb(179, 97, 97);
  fill: #1eb5ab20;
  stroke-width: 3px;
}

.selected-edge {
  stroke: rgb(179, 97, 97);
  fill: #1eb5ab20;
  stroke-width: 10px;
}

.left {
  clear: left
}

.label {
  font-size: 20px;
  fill: white;
}