body {
  margin: 0;
  padding-top: 50px; 
}
.main-container {
  margin-top: 70px;
}
.graph-container {
  position: relative;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #555;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.sigma-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sigma-scene, .sigma-labels, .sigma-mouse {
  left: 0;
}

#contextMenu {
  position: absolute;
  display:none;
}

.modal
{
    overflow: hidden;
}
.modal-body
{
  height: 500px;
}


.modal-dialog{
    margin-right: 0;
    margin-left: 0;
    z-index:     2000;
    position: absolute;
}

.slider-selection {
	background: #BABABA;
}



svg {
  background-color: #bab1a4
}

.link{
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 8px;
}


.node {
  stroke: #999;
  fill: #8adbd6;
  stroke-width: 2.5px;
}

.inactive-node {
  stroke: #999;
  fill: #1eb5ab20;
  stroke-width: 2.5px;
}

.selected-node {
  stroke: white;
  fill: #8adbd6;
  stroke-width: 3px;
}

.label {
  font-size: 20px;
  fill: white;
}