body {
  margin: 0;
  padding-top: 50px; 
}
#container {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;  
  border: 1px solid gray;
}
#contextMenu {
  position: absolute;
  display:none;
}

.modal
{
    overflow: hidden;
}
.modal-body
{
  height: 500px;
}

.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}